:root {
    --cont-width: 124px;
}
  
* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: var(--cont-width);
    padding: 3px;
}

#display {
    /* background-color: whitesmoke; */
    background-color: rgba(172, 255, 47, 0.518);
    padding: 15px 10px;
    text-align: right;
    border-radius: 5px 5px 0px 0px;
    border: solid black 1px;
    border-bottom: none;
    height: calc(var(--cont-width)/10);
}

#top-but-section {
    display: flex;
}

#top-but-section button {
    width: calc(var(--cont-width)/4);
    height: calc(var(--cont-width)/6);
}

#button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#top-but-section button {
    border: solid black 1px;
    border-radius: 2px;
    /* border-top: none; */
    /* background-color: aqua; */
}
#button-section button {
    width: calc(var(--cont-width)/4);
    height: calc(var(--cont-width)/4.5);
    border: solid black 1px;
    border-radius: 2px;
    border-top: none;
}

.op-but, .result-but {
    background-color: floralwhite;
}

button:hover {
    background-color:azure;
}

button:active {
    background-color: antiquewhite;
}