:root {
    --cont-width: 150px;
}
  
* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: var(--cont-width);
    padding: 3px;
}

#screen {
    background-color: whitesmoke;
    padding: 10px;
    text-align: right;
    border-radius: 10px 10px 0px 0px;
}

#button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#button-section button {
    width: calc(var(--cont-width)/4);
    height: calc(var(--cont-width)/4.5);
}